<h2>Templates</h2>

<hr>

<ul class="list-group"  >


    <li *ngFor="let ruta of templateMenu" class="list-group-item" [routerLink]="[ruta.ruta]" routerLinkActive="active" >{{ruta.texto}}</li>

</ul>


<h2 class="mt-3">Reactive</h2>

<hr>

<ul class="list-group"  >


    <li *ngFor="let ruta of reactiveMenu    " class="list-group-item" [routerLink]="[ruta.ruta]" routerLinkActive="active" >{{ruta.texto}}</li>

</ul>


<h2 class="mt-3">Validaciones</h2>

<hr>


<ul class="list-group"  >


    <li *ngFor="let ruta of authMenu    " class="list-group-item" [routerLink]="[ruta.ruta]" routerLinkActive="active" >{{ruta.texto}}</li>

</ul>

